.site-footer {
	align-items: center;
	color: var(--color-footer-text);
	font-size: 0.825em;
	font-style: italic;
	line-height: 1.2em;
	margin: 2em auto;
	text-transform: lowercase;
	@media (min-width: $bp-lg) {
		text-align: center;
	}
	p{
		display: flex;
		justify-content: center;
	}
	svg {
		fill: currentColor;
		transition: all .2s ease-in-out;
		width: 1.5em;
	}
	a{
		display: block;
	}
	a:hover {
		svg {
			transform: scale(1.2);
		}
	}
}