.site-title {
	align-items: start;
	color: var(--color-site-title);
	display: flex;
	justify-content: center;
	text-align: center;
	abbr{
		font-size: 0.35em;
		letter-spacing: 0.125em;
		line-height: 1.4em;
		margin-right: 0.5em;
		text-decoration-style: solid;
		text-transform: uppercase;
	}
}
