a {
	background-image: linear-gradient(120deg, var(--color-link--highlight) 0%, var(--color-link--highlight) 100%);
	background-repeat: no-repeat;
	background-size: 0% 1.25em;
	background-position: 0 50%;
	color: var(--color-link);
	text-decoration-style: dotted;
	transition:all 0.3s ease;
	&:visited {
		color: var(--color-link--visited);
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--color-link--hover);
		text-decoration-style: solid;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		background-size: 100% 1em;
		outline: 0;
		text-decoration-color: var(--color-link--highlight);
	}
}

.icon-link {
	background-image: none;
	display: inline-block;
	margin: 0 0.5em;
	padding: 0.5em 1em;
}

.icon-link--twitter:hover svg {
	fill: #1DA1F2;
}

.icon-link--github:hover svg {
	fill: #6f42c1;
}
